@model IEnumerable<PeopleSearch.Repository.Person>
@{
    ViewBag.Title = "Home Page";
}
    <form method="get" action="@Url.Action("Index")" data-people-ajax="true" data-people-target="#personList">

        <input type="search" class="form-control-static" name="search" size="50" placeholder="Name Search" data-people-autocomplete="@Url.Action("AutoComplete")" />
        <input type="submit" class="btn btn-primary" value="Search By First Or Last Name" id="submitbtn" />

    </form>

@Html.Partial("_Persons", Model)



