@model IEnumerable<PeopleSearch.Repository.Person>
@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm(
                            new AjaxOptions
                            {
                                HttpMethod = "post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "personList",
                            }))
{
    <div class="form-group">
        <input type="search" class="form-control-static" name="search" size="50" placeholder="Name Search" />
        <input type="submit" class="btn btn-primary" value="Search By First Or Last Name" id="submitbtn"/>
    </div>
}



    @Html.Partial("_Persons", Model)



