.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        40%;
    left:       0;
    height:     40%;
    width:      100%;
    background: rgba( 255, 255, 255, .9 ) 
                url('http://filamingo.com/image/loading-animation.gif') 
                50% 50% 
                no-repeat;
}

.loading .modal {
    display: block;
    opacity: 1;
}
